---
title: Let's Play Pokémon Blue
---

<h1>Let's Play Pokémon Blue</h1>

<div id="search">
  <input class="typeahead" type="text" autofocus="autofocus" placeholder="Search Pokémon">
</div>
<div id="results">
</div>
